header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--header-height);

  padding: 0 1em;

  background-color: var(--main-aqua);
}

.header__title {
  font-family: "Patrick Hand", cursive;
  font-size: 2.5rem;
}

.header__div {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.header__img {
  width: 35px;
  height: 35px;

  margin-right: 0.5em;
}
