<header>
  <div class="header__div">
    <img
      src="../../assets/icons/evil-kitty.svg"
      alt="evil kitty face"
      class="header__img"
    />
    <p>{{ catsKilled }}</p>
  </div>
  <nav class="header__nav">
    <ul>
      <li class="header__nav-item" *ngFor="let link of links">
        <a
          routerLinkActive="active"
          routerLink="/{{ link }}"
          class="home-section__button"
          >{{ link }}</a
        >
      </li>
    </ul>
  </nav>
  <div (click)="onShowModal()" class="header__div">
    <img
      src="../../assets/icons/favorites-heart.svg"
      alt="a lovely heart"
      class="header__img"
    />
    <p>{{ favoritesCount }}</p>
  </div>
</header>
<app-favorites-modal *ngIf="showModal"></app-favorites-modal>
