header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--header-height);

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 1em;

  background-color: rgb(208, 248, 248);
}

.header-title {
  font-family: "Patrick Hand", cursive;
  font-size: 2.5rem;
}

.header-div {
  display: flex;
  align-items: center;
}

.header-img {
  width: 35px;
  height: 35px;

  margin-right: 0.5em;
}
