<header>
  <div class="header__div">
    <img
      (click)="onToggleMataGatosLog()"
      *ngIf="catsKilledLog.length < 1; else ohNo"
      src="../../assets/icons/evil-kitty.svg"
      alt="happy kitty face"
      class="header__img"
    />
    <ng-template #ohNo>
      <img
        (click)="onToggleMataGatosLog()"
        src="../../assets/icons/surprised-kitty.png"
        alt="surprised kitty face"
        class="header__img"
      />
    </ng-template>
    <p>{{ catsKilledLog.length }}</p>
    <ol *ngIf="showMataGatosLog" class="header__mataGatos-list">
      <li *ngFor="let log of catsKilledLog">{{ log }}</li>
    </ol>
  </div>
  <nav class="header__nav">
    <ul>
      <li class="header__nav-item" *ngFor="let link of links">
        <a
          routerLinkActive="active"
          routerLink="/{{ link }}"
          class="home-section__button"
          >{{ link }}</a
        >
      </li>
    </ul>
  </nav>
  <div (click)="onToggleFavoritesModal()" class="header__div">
    <img
      src="../../assets/icons/favorites-heart.svg"
      alt="a lovely heart"
      class="header__img"
    />
    <p>{{ favoritesCount }}</p>
  </div>
</header>
<app-favorites-modal *ngIf="showFavoritesModal"></app-favorites-modal>
