.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar input {
  height: 2em;
  max-width: 250px;
  font-size: 1.2rem;

  padding-left: 20px;
  margin-right: 2em;

  border: var(--default-border);
  border-radius: var(--border-radius);
  box-shadow: 0px 0px 5px 1px black;
  transition: box-shadow var(--transition-time);
}

.search-bar input:hover {
  border: none;
  box-shadow: 0px 0px 2px 1px rgb(155, 118, 24);
}

@media screen and (max-width: 430px) {
  .search-bar input {
    width: 200px;
    margin-right: 1em;
  }
}
