.user-details {
  position: relative;
  display: flex;
  flex-direction: column;

  border: solid 2px black;
  border-radius: var(--border-radius);

  padding: 0 0.5em;
  height: 100%;
  background-color: var(--main-green);

  overflow: auto;
}

.user-details__title {
  margin: 0.5em 0;
  width: 100%;
  text-align: center;
}

.user-details__empty {
  position: relative;
  margin: auto;
}

.user-details__empty h3 {
  transform: translate(0, -50%);
}

.user-item__grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  gap: 1em;
}

.user-details__details {
  width: 100%;
  padding: 0.5em 1em;

  overflow: auto;

  display: flex;
  flex-direction: column;
}

.user-details__detail {
  margin-left: 0.5em;
  margin-bottom: 0.5em;
  font-size: 1.1rem;
}

.user-details__detail span {
  font-weight: 700;
}

.user-details__user-photo {
  width: 80px;
  height: 80px;
  margin-left: 1.5em;
}

.user-details__btn {
  justify-self: center;
  align-self: center;
  margin-bottom: 0.5em;
}

@media screen and (max-width: 700px) {
  .user-details {
    height: auto;
  }

  .user-item__grid-container {
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto;

    height: 100%;
  }

  .user-details__user-photo {
    margin-top: 1em;
    margin-left: 1em;
  }

  .user-details__btn {
    grid-column: span 2;
    margin-bottom: 1em;
  }
}

@media screen and (max-width: 430px) {
  .user-item__grid-container {
    display: flex;
    flex-direction: column;
  }
}
