.user-item {
  width: 100%;
  padding: 0.2em 0.5em;

  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr;
  justify-items: center;

  border: solid 1px black;
  border-radius: var(--border-radius);
  background-color: #baeedf;

  margin-bottom: 1em;

  cursor: pointer;
}

.active {
  background-color: #51a589;
  color: white;
}

.isFavoriteUser {
  grid-template-columns: 1.5fr 1fr 1fr 1fr;
}
