.user-item {
  width: 100%;
  padding: 0.2em 0.5em;

  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr;
  align-items: center;
  gap: 0 0.5em;

  border: solid 1px black;
  border-radius: 8px;
  background-color: var(--item-color);

  margin-bottom: 1em;

  cursor: pointer;
}

.active {
  background-color: var(--dark-green);
}

.isFavoriteUser {
  cursor: default;
  grid-template-columns: 60px auto auto auto auto;
  justify-content: space-between;
  padding: 0.5em;
}

.user-item__user-photo {
  border-radius: 50%;
}

.user-item__remove-btn:hover,
.user-item__remove-btn:focus {
  background-color: red;
}
