html {
  --main-bg: rgb(248, 253, 252);
  --main-aqua: rgb(188, 243, 243);
  --main-green: rgb(188, 243, 206);
  --active: #51a589;

  --header-height: 60px;

  --border-radius: 5px;

  font-size: 100%;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body,
html,
section {
  height: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

section {
  max-width: 1440px;

  padding: 1em 2em;
  margin: 0 auto;
  background-color: var(--main-bg);
}

img {
  max-width: 100%;
  vertical-align: middle;
}

a {
  color: black;
  text-decoration: none;
}

button {
  cursor: pointer;
  padding: 0.3em 0.5em;

  border: solid 1px black;
  background-color: white;
  border-radius: var(--border-radius);
}
