html {
  --main-bg: #ebfff8;

  --main-aqua: #bcf3f3;
  --dark-aqua: #a1cfcf;

  --main-green: #bcf3ce;
  --dark-green: #51a589;

  --item-color: #baeedf;

  --header-height: 80px;

  --default-border: solid 1px black;
  --default-box-shadow: 1px 1px 1px 0px black;
  --border-radius: 20px;

  --transition-time: 0.2s;

  font-size: 100%;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--main-bg);
}

body,
html,
section {
  height: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

section {
  max-width: 1440px;

  padding: 1em 2em;
  margin: 0 auto;
}

h2,
h3 {
  font-family: "Patrick Hand", cursive;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.3rem;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

a {
  color: black;
  text-decoration: none;
}

button {
  cursor: pointer;
  padding: 1em 1.5em;

  border: var(--default-border);
  border-radius: var(--border-radius);
  background-color: var(--dark-green);

  font-family: "Patrick Hand", cursive;
  box-shadow: var(--default-box-shadow);
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;

  transition: background-color var(--transition-time);
}

button:hover {
  background-color: var(--dark-aqua);
}

/* @media screen and (max-width: 480px) {
  section {
    padding: 1em 0;
  }
} */
