.home-section__button {
  padding: 2em;
  font-size: 2rem;
  color: black;

  background-color: var(--main-aqua);
  border: solid 1px black;
  box-shadow: 2px 1px 4px 0px black;

  transition: all 0.2s;
}

.home-section__button:hover,
.home-section__button:focus {
  background-color: rgb(198, 226, 226);
}

.home-section__button:active {
  background-color: rgb(182, 211, 211);
  box-shadow: 1px 1px 1px 1px black;
}
