.home-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;

  height: 100%;
  width: 90%;

  margin: 0 auto;
}

.home-wrapper div {
  width: 230px;
  margin-bottom: var(--header-height);
  text-align: center;
}

.home-section__button {
  width: 100%;
  padding: 2em;
  font-size: 2rem;
  color: black;

  background-color: var(--main-green);
  border: var(--default-border);
  box-shadow: 2px 1px 4px 0px black;
  border-radius: var(--border-radius);

  transition: all 0.2s;
  cursor: pointer;
}

.home-section__button:hover,
.home-section__button:focus {
  background-color: rgb(152, 212, 177);
}

.home-section__button:active {
  background-color: rgb(121, 168, 140);
  box-shadow: 1px 1px 1px 1px black;
}

@media screen and (max-width: 700px) {
  .home-wrapper {
    width: 100%;
  }

  .home-section__button {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 480px) {
  .home-wrapper {
    flex-direction: column;
  }

  .home-wrapper div {
    margin-bottom: 0;
  }
}
